/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.4rem 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

body{
    background: url(./img/background.jpg) no-repeat center top;
}

header, footer{
    background-image: linear-gradient(rgb(0, 72, 34), rgb(0, 78, 36));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.logo span{
    margin: 0 10px;
}

.github{
    height: 32px;
}

.text{
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.text-obj{
    width: 1030px;
    margin: 0 auto;
    text-align: center;
}

.text-obj p{
    display: inline-block;
    margin: 10px 0;
    font-size: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.221);
}

.border_left{
    border-left: 1px solid;
}

.descricao{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.justificativa{
    height: 300px;
    background-color: rgba(255, 255, 255, 0.833);
    color: rgb(32, 103, 32);
    border-radius: 15px;
}

.bmc{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.escopo-produto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.telas{
    width: 100%;
}

.escopo-projeto{
    width: 1030px;
    background-color: rgba(255, 255, 255, 0.941);
    margin: 50px 0;
    height: 400px;
    text-align: center;
}

.escopo-projeto p{
    color: black;
    font-size: 2em;
}

.react{
    margin: 20px 0;
}

.react img{
    width: 300px;
}

.titulo-equipe{
    width: 100%;
    text-align: center;
}

.equipe{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid;
    width: 700px;
    border-radius: 5px;
    margin: 25px 0;
}

.integrantes{
    margin: 25px 0;
    width: 50%;
    text-align: center;
}

.integrantes p{
    font-size: 16px;
    margin: 3px;
}